Importing basic Libraries

In [ ]:
import pandas as pd
import numpy as np

Choose Dataset file from Local Directory

In [ ]:
from google.colab import files
upload = files.upload()

Saving train.csv to train (5).csv

Load Dataset

In [ ]:
dataset = pd.read_csv("train.csv")

Summarize Dataset

In [ ]:
dataset.shape

(891, 12)

In [ ]:
dataset.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [ ]:
dataset.drop(["Name","Ticket","Cabin","Embarked"],axis=1,inplace=True)

In [ ]:
dataset.head(2)

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare
0            1         0       3    male  22.0      1      0   7.2500
1            2         1       1  female  38.0      1      0  71.2833

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Sex          891 non-null    object
 4   Age          714 non-null    float64
 5   SibSp        891 non-null    int64
 6   Parch        891 non-null    int64
 7   Fare         891 non-null    float64
dtypes: float64(2), int64(5), object(1)
memory usage: 55.8+ KB

Mapping Text Data to Binary Value

In [ ]:
income_set = set(dataset["Sex"])
dataset["Sex"] = dataset["Sex"].map({"female":0,"male":1}).astype(int)
dataset.head(2)

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare
0            1         0       3    1  22.0      1      0   7.2500
1            2         1       1    0  38.0      1      0  71.2833

In [ ]:
x=dataset.drop("Survived",axis="columns")
x

     PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0              1       3    1  22.0      1      0   7.2500
1              2       1    0  38.0      1      0  71.2833
2              3       3    0  26.0      0      0   7.9250
3              4       1    0  35.0      1      0  53.1000
4              5       3    1  35.0      0      0   8.0500
..           ...     ...  ...   ...    ...    ...      ...
886          887       2    1  27.0      0      0  13.0000
887          888       1    0  19.0      0      0  30.0000
888          889       3    0   NaN      1      2  23.4500
889          890       1    1  26.0      0      0  30.0000
890          891       3    1  32.0      0      0   7.7500

[891 rows x 7 columns]

In [ ]:
y = dataset.Survived
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

Finding & Removing NA values from our Features X

In [ ]:
x.columns[x.isna().any()]

Index(['Age'], dtype='object')

In [ ]:
x.Age = x.Age.fillna(x.Age.mean())

Test again to check any na  value

In [ ]:
x.columns[x.isna().any()]

Index([], dtype='object')

Splitting Dataset into Train & Test

In [ ]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25,random_state=0)

Training

In [ ]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(x_train, y_train)

GaussianNB()

Predicting , wheather Person Survived or Not

In [ ]:
pgid = int(input("Enter PassengerId : "))
pclassNo = int(input("Enter Person's Pclass number : "))
gender = int(input("Enter Person's Gender 0-female 1-male(0 or 1) : "))
age = int(input("Enter Person's Age : "))
fare = float(input("Enter Person's Fare : "))
parch = int(input("Enter Parch in 0,2,1 : "))
sibsp = int(input("Enter SipSp 1 or 0 : "))
person = [[pclassNo,gender,age,fare,pgid,sibsp,parch]]
result = model.predict(person)
print(result)
if result ==1:
  print("Person might be Survived")
else:
  print("person might not be Survived")

Enter PassengerId : 1
Enter Person's Pclass number : 3
Enter Person's Gender 0-female 1-male(0 or 1) : 1
Enter Person's Age : 22
Enter Person's Fare : 7.2500
Enter Parch in 0,2,1 : 0
Enter SipSp 1 or 0 : 1
[1]
Person might be Survived

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

Prediction for all Test Data

In [ ]:
y_pred = model.predict(x_test)
np.column_stack((y_pred,y_test))

array([[0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 0],
       [0, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [1, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [1, 1],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 1],
       [1, 0],
       [1, 1],
       [1, 1],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 0],
       [0, 1],
       [1, 0],
       [1, 1],
       [0, 0],
       [0, 1],
       [1, 1],
       [0, 1],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [1, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [1, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 1],
       [0, 0],
       [0, 1],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [1, 1],
       [0, 0],
       [0, 0],
       [0, 1],
       [0, 0],
       [1, 0],
       [0, 0],
       [0, 0],
       [0, 0],
       [0, 1],
       [1, 0],
       [1, 1],
       [0, 0],
       [1, 1],
       [1, 1]])

Accuracy of the model

In [ ]:
from sklearn.metrics import accuracy_score
print("Accuracy of the model : {0}%".format(accuracy_score(y_test, y_pred)*100))

Accuracy of the model : 78.02690582959642%